body {
  background-color: rgb(208, 228, 196);
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.container {
  width: 550px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}
.grid {
  flex: auto;
  border-collapse: collapse;
}
h2 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
button {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-family: cursive, sans-serif;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 15px;
}
#rainbow_button {
  background-image: linear-gradient(
    60deg,
    red,
    orange,
    yellow,
    green,
    violet,
    indigo
  );
  color: black;
}

/* design responsiveness is limited for this project (grid created in .js with a fixed width) */
@media (max-width: 57rem /* 912px */) {
  body {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .controls {
    width: 550px;
    flex-direction: row;
  }
  button {
    font-size: 0.75rem;
  }
}
